# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
*.csv
*.zip
*.parquet

# Machine Learning models
*.pkl
*.joblib
*.h5

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
